APP_PORT="порт_вашего_приложения"

DB_HOST="хост_вашей_базы_данных"
DB_PORT="порт_вашей_базы_данных"
DB_NAME="название_вашей_базы_данных"
DB_USER="пользователь_вашей_базы_данных"
DB_PASSWORD="пароль_вашей_базы_данных"

SECRET_KEY="секретный_ключ_для_вашего_приложения"