COMPOSE_PROJECT_NAME="wishlist"

APP_PORT="ваш_порт"

DB_HOST="db"
DB_PORT="5432"
DB_NAME="имя_БД"
DB_USER="имя_пользователя_БД"
DB_PASSWORD="пароль_пользователя_БД"

SECRET_KEY="ваш_секретный_ключ"